.overlay {
  list-style: none;
  display: flex;
  justify-items: center;
  justify-content: center;
  align-content: space-between;
  padding: 0px;
  margin: 10px;
}

.overlay button {
  color: orangered;
  font-size: 1em;
  font-weight: bold;
  border:solid 2px orange; 
  border-radius: .25em; 
  width: 100%;
  height: 1.5em;
  cursor: pointer;
}
